In [1]:
# Pandas
import pandas as pd
import numpy as np

/usr/local/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/usr/local/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [2]:
iris=pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data",header=None)
type(iris)
iris.shape

(150, 5)

In [3]:
df=iris.copy()
df.head(3)
df.shape
df.dtypes # therefore this calls for a need to change the column headers

0    float64
1    float64
2    float64
3    float64
4     object
dtype: object

In [4]:
df.columns # current headers
df.columns=['sw','sl','pw','pl','flower_type'] # this list should be of size 5
df.head(3)

    sw   sl   pw   pl  flower_type
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa

In [84]:
df.describe()

               sw          sl          pw          pl
count  150.000000  150.000000  150.000000  150.000000
mean     5.843333    3.054000    3.758667    1.198667
std      0.828066    0.433594    1.764420    0.763161
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.350000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

In [87]:
# df.isnull()

In [89]:
df.isnull().sum()

sw             0
sl             0
pw             0
pl             0
flower_type    0
dtype: int64

In [95]:
df.sw

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
5      5.4
6      4.6
7      5.0
8      4.4
9      4.9
10     5.4
11     4.8
12     4.8
13     4.3
14     5.8
15     5.7
16     5.4
17     5.1
18     5.7
19     5.1
20     5.4
21     5.1
22     4.6
23     5.1
24     4.8
25     5.0
26     5.0
27     5.2
28     5.2
29     4.7
      ...
120    6.9
121    5.6
122    7.7
123    6.3
124    6.7
125    7.2
126    6.2
127    6.1
128    6.4
129    7.2
130    7.4
131    7.9
132    6.4
133    6.3
134    6.1
135    7.7
136    6.3
137    6.4
138    6.0
139    6.9
140    6.7
141    6.9
142    5.8
143    6.8
144    6.7
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sw, Length: 150, dtype: float64

In [99]:
df.iloc[1:4,2:4] # slicing of data[1:3,2:4]

    pw   pl
1  1.4  0.2
2  1.3  0.2
3  1.5  0.2

In [146]:
a=df.head()
a.drop(0)

    sw   sl   pw   pl  flower_type
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [107]:
df.index[0] # this gives label of row at position 0

0

In [181]:
a.drop(a.index[1],inplace=True) # this drops by label 
a

/usr/local/lib/python3.6/site-packages/pandas/core/frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

    sw   sl   pw   pl  flower_type
3  4.6  3.1  1.5  0.2  Iris-setosa

In [183]:
a

    sw   sl   pw   pl  flower_type
3  4.6  3.1  1.5  0.2  Iris-setosa

# DROPPING ROWS AND MANIPULATING DATA EXAMPLE

In [210]:
b=df.head() # Initialization

In [217]:
b # Printing present state

    sw   sl   pw   pl  flower_type
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [216]:
b.drop(b.index[0],inplace=True) # We always drop the first row , we can either remove by label or by position

/usr/local/lib/python3.6/site-packages/pandas/core/frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [214]:
b.drop(b.index[[0,1]],inplace=True) # To drop more than one row

/usr/local/lib/python3.6/site-packages/pandas/core/frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [218]:
b.index # to get range of index's

Int64Index([3, 4], dtype='int64')

In [223]:
# df.pw > 5

In [226]:
# df[df.pw>5] # pass in the condition whose data you want to see

In [228]:
df.columns

Index(['sw', 'sl', 'pw', 'pl', 'flower_type'], dtype='object')

In [232]:
df[df.flower_type=='Iris-virginica'] #only shows the filter data

      sw   sl   pw   pl     flower_type
100  6.3  3.3  6.0  2.5  Iris-virginica
101  5.8  2.7  5.1  1.9  Iris-virginica
102  7.1  3.0  5.9  2.1  Iris-virginica
103  6.3  2.9  5.6  1.8  Iris-virginica
104  6.5  3.0  5.8  2.2  Iris-virginica
105  7.6  3.0  6.6  2.1  Iris-virginica
106  4.9  2.5  4.5  1.7  Iris-virginica
107  7.3  2.9  6.3  1.8  Iris-virginica
108  6.7  2.5  5.8  1.8  Iris-virginica
109  7.2  3.6  6.1  2.5  Iris-virginica
110  6.5  3.2  5.1  2.0  Iris-virginica
111  6.4  2.7  5.3  1.9  Iris-virginica
112  6.8  3.0  5.5  2.1  Iris-virginica
113  5.7  2.5  5.0  2.0  Iris-virginica
114  5.8  2.8  5.1  2.4  Iris-virginica
115  6.4  3.2  5.3  2.3  Iris-virginica
116  6.5  3.0  5.5  1.8  Iris-virginica
117  7.7  3.8  6.7  2.2  Iris-virginica
118  7.7  2.6  6.9  2.3  Iris-virginica
119  6.0  2.2  5.0  1.5  Iris-virginica
120  6.9  3.2  5.7  2.3  Iris-virginica
121  5.6  2.8  4.9  2.0  Iris-virginica
122  7.7  2.8  6.7  2.0  Iris-virginica
123  6.3  2.7  4.9  1.8  Iris-virginica
124  6.7  3.3  5.7  2.1  Iris-virginica
125  7.2  3.2  6.0  1.8  Iris-virginica
126  6.2  2.8  4.8  1.8  Iris-virginica
127  6.1  3.0  4.9  1.8  Iris-virginica
128  6.4  2.8  5.6  2.1  Iris-virginica
129  7.2  3.0  5.8  1.6  Iris-virginica
130  7.4  2.8  6.1  1.9  Iris-virginica
131  7.9  3.8  6.4  2.0  Iris-virginica
132  6.4  2.8  5.6  2.2  Iris-virginica
133  6.3  2.8  5.1  1.5  Iris-virginica
134  6.1  2.6  5.6  1.4  Iris-virginica
135  7.7  3.0  6.1  2.3  Iris-virginica
136  6.3  3.4  5.6  2.4  Iris-virginica
137  6.4  3.1  5.5  1.8  Iris-virginica
138  6.0  3.0  4.8  1.8  Iris-virginica
139  6.9  3.1  5.4  2.1  Iris-virginica
140  6.7  3.1  5.6  2.4  Iris-virginica
141  6.9  3.1  5.1  2.3  Iris-virginica
142  5.8  2.7  5.1  1.9  Iris-virginica
143  6.8  3.2  5.9  2.3  Iris-virginica
144  6.7  3.3  5.7  2.5  Iris-virginica
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

In [234]:
c=df.copy()

In [253]:
c.drop(c.index[0],inplace=True) # removes the first row everytime

In [265]:
c1=c[c.flower_type=='Iris-virginica']
c1.describe()

             sw         sl         pw        pl
count  50.00000  50.000000  50.000000  50.00000
mean    6.58800   2.974000   5.552000   2.02600
std     0.63588   0.322497   0.551895   0.27465
min     4.90000   2.200000   4.500000   1.40000
25%     6.22500   2.800000   5.100000   1.80000
50%     6.50000   3.000000   5.550000   2.00000
75%     6.90000   3.175000   5.875000   2.30000
max     7.90000   3.800000   6.900000   2.50000

In [305]:
# add a row
d=df.head()
d.loc[-1]=[1,2,3,4,'Uni'] # how to add a data points with a label
d.iloc[0]=[4,3,2,1,'Unique'] # how to add a data points at a particular position

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [306]:
d

     sw   sl   pw   pl  flower_type
 0  4.0  3.0  2.0  1.0       Unique
 1  4.9  3.0  1.4  0.2  Iris-setosa
 2  4.7  3.2  1.3  0.2  Iris-setosa
 3  4.6  3.1  1.5  0.2  Iris-setosa
 4  5.0  3.6  1.4  0.2  Iris-setosa
-1  1.0  2.0  3.0  4.0          Uni

In [307]:
d=d[d.flower_type!='Iris-setosa'] # Filter data based on certain parameters
d

     sw   sl   pw   pl flower_type
 0  4.0  3.0  2.0  1.0      Unique
-1  1.0  2.0  3.0  4.0         Uni

In [308]:
d.reset_index(drop=True,inplace=True)
d
d.index
d.drop('sw',axis=1,inplace = True)
del d['sl'] # also a way of deleting a particular column

/usr/local/lib/python3.6/site-packages/pandas/core/frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [309]:
d

    pw   pl flower_type
0  2.0  1.0      Unique
1  3.0  4.0         Uni

In [313]:
d['diff_column_new']=d['pw']-d['pl']
d

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

    pw   pl flower_type  diff_column_new
0  2.0  1.0      Unique              1.0
1  3.0  4.0         Uni             -1.0

In [328]:
df.iloc[2:4,1:3]=np.nan
df.head()

    sw   sl   pw   pl  flower_type
0  5.1  3.5  1.4  0.2          Uni
1  4.9  3.0  1.4  0.2  Iris-setosa
2  5.0  NaN  NaN  0.2  Iris-setosa
3  5.4  NaN  NaN  0.4  Iris-setosa
4  4.6  3.4  1.4  0.3  Iris-setosa

In [321]:
df.dropna(inplace = True)

In [335]:
df.head()

    sw        sl        pw   pl  flower_type
0  5.1  3.500000  1.400000  0.2          Uni
1  4.9  3.000000  1.400000  0.2  Iris-setosa
2  5.0  3.043151  3.821233  0.2  Iris-setosa
3  5.4  3.043151  3.821233  0.4  Iris-setosa
4  4.6  3.400000  1.400000  0.3  Iris-setosa

In [359]:
df.reset_index(inplace=True,drop=True)
df.head()

    sw        sl        pw   pl  flower_type  Gender  Sex
0  5.1  3.500000  1.400000  0.2          Uni  Female    1
1  4.9  3.000000  1.400000  0.2  Iris-setosa    Male    0
2  5.0  3.043151  3.821233  0.2  Iris-setosa    Male    0
3  5.4  3.043151  3.821233  0.4  Iris-setosa    Male    0
4  4.6  3.400000  1.400000  0.3  Iris-setosa    Male    0

In [334]:
df.sl.fillna(df.sl.mean(),inplace=True)
df.pw.fillna(df.pw.mean(),inplace=True)

In [367]:
df["Gender"]="Female"
df.iloc[1:10,5]="Male"
df.head()

    sw        sl        pw   pl  flower_type  Gender
0  5.1  3.500000  1.400000  0.2          Uni  Female
1  4.9  3.000000  1.400000  0.2  Iris-setosa    Male
2  5.0  3.043151  3.821233  0.2  Iris-setosa    Male
3  5.4  3.043151  3.821233  0.4  Iris-setosa    Male
4  4.6  3.400000  1.400000  0.3  Iris-setosa    Male

In [369]:
def f(n):
    if n=="Male":
        return 0
    else:
        return 1
df["Gender"]=df.Gender.apply(f)

In [373]:
d_modified=df.tail()

      sw   sl   pw   pl     flower_type  Gender
143  6.7  3.0  5.2  2.3  Iris-virginica       1
144  6.3  2.5  5.0  1.9  Iris-virginica       1
145  6.5  3.0  5.2  2.0  Iris-virginica       1
146  6.2  3.4  5.4  2.3  Iris-virginica       1
147  5.9  3.0  5.1  1.8  Iris-virginica       1

In [21]:
df['sw'].idxmax()

131

In [22]:
(df['sw']-df['sl']).idxmax()

118

In [29]:
df_rad=df[(df['sw']>5) & (df['sl']>4)]
df_rad

     sw   sl   pw   pl  flower_type
15  5.7  4.4  1.5  0.4  Iris-setosa
32  5.2  4.1  1.5  0.1  Iris-setosa
33  5.5  4.2  1.4  0.2  Iris-setosa

In [30]:
df.head()

    sw   sl   pw   pl  flower_type
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [39]:
df.sort_values('sw',inplace=True,ascending=True)

In [41]:
df.head(3)

     sw   sl   pw   pl  flower_type
13  4.3  3.0  1.1  0.1  Iris-setosa
38  4.4  3.0  1.3  0.2  Iris-setosa
8   4.4  2.9  1.4  0.2  Iris-setosa

In [45]:
df.iloc[0] # By index
df.loc[38] # By label

sw                     4.4
sl                       3
pw                     1.3
pl                     0.2
flower_type    Iris-setosa
Name: 38, dtype: object

In [58]:
d=df.copy()
d.reset_index(drop=True,inplace=True)

In [63]:
d.head(3)

    sw   sl   pw   pl  flower_type
0  4.3  3.0  1.1  0.1  Iris-setosa
1  4.4  3.0  1.3  0.2  Iris-setosa
2  4.4  2.9  1.4  0.2  Iris-setosa

In [68]:
d['sl']=pd.Series({0:1,1:2})

In [69]:
d.head(5)

    sw   sl   pw   pl  flower_type
0  4.3  1.0  1.1  0.1  Iris-setosa
1  4.4  2.0  1.3  0.2  Iris-setosa
2  4.4  NaN  1.4  0.2  Iris-setosa
3  4.4  NaN  1.3  0.2  Iris-setosa
4  4.5  NaN  1.3  0.3  Iris-setosa

In [72]:
pd.Series({0:1,3:40,1:2})

0     1
3    40
1     2
dtype: int64

In [79]:
d.drop(0,inplace=True)

In [98]:
d.drop(d[d.sw<5].index)

      sw  sl   pw   pl      flower_type
22   5.0 NaN  1.3  0.3      Iris-setosa
23   5.0 NaN  1.6  0.4      Iris-setosa
24   5.0 NaN  1.4  0.2      Iris-setosa
25   5.0 NaN  1.2  0.2      Iris-setosa
26   5.0 NaN  1.6  0.6      Iris-setosa
27   5.0 NaN  3.5  1.0  Iris-versicolor
28   5.0 NaN  1.5  0.2      Iris-setosa
29   5.0 NaN  3.3  1.0  Iris-versicolor
30   5.0 NaN  1.4  0.2      Iris-setosa
31   5.0 NaN  1.6  0.2      Iris-setosa
32   5.1 NaN  1.5  0.3      Iris-setosa
33   5.1 NaN  1.5  0.2      Iris-setosa
34   5.1 NaN  1.5  0.4      Iris-setosa
35   5.1 NaN  3.0  1.1  Iris-versicolor
36   5.1 NaN  1.4  0.3      Iris-setosa
37   5.1 NaN  1.6  0.2      Iris-setosa
38   5.1 NaN  1.9  0.4      Iris-setosa
39   5.1 NaN  1.7  0.5      Iris-setosa
40   5.1 NaN  1.4  0.2      Iris-setosa
41   5.2 NaN  1.5  0.1      Iris-setosa
42   5.2 NaN  1.4  0.2      Iris-setosa
43   5.2 NaN  1.5  0.2      Iris-setosa
44   5.2 NaN  3.9  1.4  Iris-versicolor
45   5.3 NaN  1.5  0.2      Iris-setosa
46   5.4 NaN  4.5  1.5  Iris-versicolor
47   5.4 NaN  1.7  0.4      Iris-setosa
48   5.4 NaN  1.7  0.2      Iris-setosa
49   5.4 NaN  1.5  0.4      Iris-setosa
50   5.4 NaN  1.5  0.2      Iris-setosa
51   5.4 NaN  1.3  0.4      Iris-setosa
..   ...  ..  ...  ...              ...
120  6.6 NaN  4.4  1.4  Iris-versicolor
121  6.6 NaN  4.6  1.3  Iris-versicolor
122  6.7 NaN  5.2  2.3   Iris-virginica
123  6.7 NaN  4.7  1.5  Iris-versicolor
124  6.7 NaN  5.8  1.8   Iris-virginica
125  6.7 NaN  5.6  2.4   Iris-virginica
126  6.7 NaN  5.7  2.1   Iris-virginica
127  6.7 NaN  5.0  1.7  Iris-versicolor
128  6.7 NaN  5.7  2.5   Iris-virginica
129  6.7 NaN  4.4  1.4  Iris-versicolor
130  6.8 NaN  5.5  2.1   Iris-virginica
131  6.8 NaN  5.9  2.3   Iris-virginica
132  6.8 NaN  4.8  1.4  Iris-versicolor
133  6.9 NaN  5.4  2.1   Iris-virginica
134  6.9 NaN  5.1  2.3   Iris-virginica
135  6.9 NaN  4.9  1.5  Iris-versicolor
136  6.9 NaN  5.7  2.3   Iris-virginica
137  7.0 NaN  4.7  1.4  Iris-versicolor
138  7.1 NaN  5.9  2.1   Iris-virginica
139  7.2 NaN  5.8  1.6   Iris-virginica
140  7.2 NaN  6.1  2.5   Iris-virginica
141  7.2 NaN  6.0  1.8   Iris-virginica
142  7.3 NaN  6.3  1.8   Iris-virginica
143  7.4 NaN  6.1  1.9   Iris-virginica
144  7.6 NaN  6.6  2.1   Iris-virginica
145  7.7 NaN  6.7  2.2   Iris-virginica
146  7.7 NaN  6.1  2.3   Iris-virginica
147  7.7 NaN  6.7  2.0   Iris-virginica
148  7.7 NaN  6.9  2.3   Iris-virginica
149  7.9 NaN  6.4  2.0   Iris-virginica

[128 rows x 5 columns]

In [107]:
d.rename(columns={"pl":"PL"},inplace=True)
d.head()

    sw   sl   pw  PLS  flower_type
1  4.4  2.0  1.3  0.2  Iris-setosa
2  4.4  NaN  1.4  0.2  Iris-setosa
3  4.4  NaN  1.3  0.2  Iris-setosa
4  4.5  NaN  1.3  0.3  Iris-setosa
5  4.6  NaN  1.0  0.2  Iris-setosa

In [112]:
df.set_index(df.sw) # Setting index to

      sw   sl   pw   pl      flower_type
sw
4.3  4.3  3.0  1.1  0.1      Iris-setosa
4.4  4.4  3.0  1.3  0.2      Iris-setosa
4.4  4.4  2.9  1.4  0.2      Iris-setosa
4.4  4.4  3.2  1.3  0.2      Iris-setosa
4.5  4.5  2.3  1.3  0.3      Iris-setosa
4.6  4.6  3.6  1.0  0.2      Iris-setosa
4.6  4.6  3.1  1.5  0.2      Iris-setosa
4.6  4.6  3.4  1.4  0.3      Iris-setosa
4.6  4.6  3.2  1.4  0.2      Iris-setosa
4.7  4.7  3.2  1.6  0.2      Iris-setosa
4.7  4.7  3.2  1.3  0.2      Iris-setosa
4.8  4.8  3.0  1.4  0.1      Iris-setosa
4.8  4.8  3.0  1.4  0.3      Iris-setosa
4.8  4.8  3.4  1.9  0.2      Iris-setosa
4.8  4.8  3.4  1.6  0.2      Iris-setosa
4.8  4.8  3.1  1.6  0.2      Iris-setosa
4.9  4.9  3.0  1.4  0.2      Iris-setosa
4.9  4.9  3.1  1.5  0.1      Iris-setosa
4.9  4.9  3.1  1.5  0.1      Iris-setosa
4.9  4.9  2.5  4.5  1.7   Iris-virginica
4.9  4.9  2.4  3.3  1.0  Iris-versicolor
4.9  4.9  3.1  1.5  0.1      Iris-setosa
5.0  5.0  3.5  1.3  0.3      Iris-setosa
5.0  5.0  3.4  1.6  0.4      Iris-setosa
5.0  5.0  3.3  1.4  0.2      Iris-setosa
5.0  5.0  3.2  1.2  0.2      Iris-setosa
5.0  5.0  3.5  1.6  0.6      Iris-setosa
5.0  5.0  2.0  3.5  1.0  Iris-versicolor
5.0  5.0  3.4  1.5  0.2      Iris-setosa
5.0  5.0  2.3  3.3  1.0  Iris-versicolor
..   ...  ...  ...  ...              ...
6.6  6.6  3.0  4.4  1.4  Iris-versicolor
6.6  6.6  2.9  4.6  1.3  Iris-versicolor
6.7  6.7  3.0  5.2  2.3   Iris-virginica
6.7  6.7  3.1  4.7  1.5  Iris-versicolor
6.7  6.7  2.5  5.8  1.8   Iris-virginica
6.7  6.7  3.1  5.6  2.4   Iris-virginica
6.7  6.7  3.3  5.7  2.1   Iris-virginica
6.7  6.7  3.0  5.0  1.7  Iris-versicolor
6.7  6.7  3.3  5.7  2.5   Iris-virginica
6.7  6.7  3.1  4.4  1.4  Iris-versicolor
6.8  6.8  3.0  5.5  2.1   Iris-virginica
6.8  6.8  3.2  5.9  2.3   Iris-virginica
6.8  6.8  2.8  4.8  1.4  Iris-versicolor
6.9  6.9  3.1  5.4  2.1   Iris-virginica
6.9  6.9  3.1  5.1  2.3   Iris-virginica
6.9  6.9  3.1  4.9  1.5  Iris-versicolor
6.9  6.9  3.2  5.7  2.3   Iris-virginica
7.0  7.0  3.2  4.7  1.4  Iris-versicolor
7.1  7.1  3.0  5.9  2.1   Iris-virginica
7.2  7.2  3.0  5.8  1.6   Iris-virginica
7.2  7.2  3.6  6.1  2.5   Iris-virginica
7.2  7.2  3.2  6.0  1.8   Iris-virginica
7.3  7.3  2.9  6.3  1.8   Iris-virginica
7.4  7.4  2.8  6.1  1.9   Iris-virginica
7.6  7.6  3.0  6.6  2.1   Iris-virginica
7.7  7.7  3.8  6.7  2.2   Iris-virginica
7.7  7.7  3.0  6.1  2.3   Iris-virginica
7.7  7.7  2.8  6.7  2.0   Iris-virginica
7.7  7.7  2.6  6.9  2.3   Iris-virginica
7.9  7.9  3.8  6.4  2.0   Iris-virginica

[149 rows x 5 columns]

In [114]:
d.sl.fillna(d.sl.mode()[0],inplace=True)

In [116]:
d.flower_type.value_counts()

Iris-versicolor    50
Iris-virginica     50
Iris-setosa        49
Name: flower_type, dtype: int64

In [128]:
d.groupby('flower_type').agg({'PLS':np.average,'sw':np.average})

                      PLS        sw
flower_type
Iris-setosa      0.246939  5.020408
Iris-versicolor  1.326000  5.936000
Iris-virginica   2.026000  6.588000